
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginRedirect</title>
</head>
<body>
    <div> ERROR: User role not defined.
    </div>
</body>
</html>
