
@{
    ViewBag.Title = "ViewPatientData";
}

@model UAHFitVault.Models.ViewPatientDataViewModel

<h4>View Patient Data - @Model.Username</h4>

@Html.ValidationSummary("", new { @class = "text-danger" })
<hr />
<h1>TBD</h1>

