body {
	BACKGROUND-COLOR: #FFFFFF;
}

td {
    BORDER: 1PX SOLID BLACK;
    BORDER-STYLE: SOLID SOLID SOLID SOLID;
    BACKGROUND-COLOR:#EEEEEE;
    PADDING:3PX;
}

td.headerrow {
    BACKGROUND-COLOR:#CCCCCC;
    FONT-WEIGHT: BOLD;
}

table {
    BORDER-SPACING: 0PX;
    BORDER-COLLAPSE: COLLAPSE;
}