@model UAHFitVault.Models.DeleteExperimentViewModel

@{
    ViewBag.Title = "Delete Experiment";
}

<h2>Delete Experiment</h2>

@using (Html.BeginForm("DeleteExperiment", "Experiment", FormMethod.Post))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <p style="text-align: center;">Are you sure that you wish to delete the experiment <b>@Model.ExperimentName@Html.HiddenFor(m => m.ExperimentName)</b>?</p>
    <br />
    <p style="text-align: center;"><input type="submit" value="Confirm" class="btn green" />
    <input type="button" value="Cancel" class="btn red" onclick="location.href = '/Account/LoginRedirect';" /></p>
}