@model UAHFitVault.Models.ViewExperimentViewModel

@using UAHFitVault.Models
@{
    ViewBag.Title = "View Experiment";
    ViewExperimentCriteriaViewModel experimentCriteriaModel = new ViewExperimentCriteriaViewModel();
    experimentCriteriaModel = Model.criteriaModel;
}

<!-- Create Patient Modal Structure -->
<div id="createModal" class="modal">
    @{
        Html.RenderPartial("~/Views/Experiment/_PartialViewExperimentCriteria.cshtml", experimentCriteriaModel);
    }
</div>
<div class="col s12 m6 right-align">
    <input type="button" value="View Matching Criteria" class="btn yellow" onclick="viewMatchingCriteria()" />
</div>
<h2>View Experiment - @if (Model.experimentName != null) { <b>@Model.experimentName</b> }</h2> 
<h5>Patient List</h5>

<br /><br />

@section scripts{
<script>
    function viewMatchingCriteria() {
        $('#createModal').openModal({
            dismissible: true, // Modal can be dismissed by clicking outside of the modal
            opacity: .5, // Opacity of modal background
            in_duration: 200, // Transition in duration
            out_duration: 200, // Transition out duration
        });
    }

    function cancelCreate() {
        $('#createModal').closeModal();
    }

</script>
}