.verticalSelect{
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 2px;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: #202020;
    box-shadow: 0 3px 6px;   /*rgba(0,0,0.16), 0 3px, 6px  rgba(0,0,0.23);*/
    -moz-transition: all 0.2s ease-in-out, transform 0.4s ease-in-out;
    -o-transition: all 0.2s ease-in-out, transform 0.4s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out, transform 0.4s ease-in-out;
    transition: all 0.2s ease-in-out, transform 0.4s ease-in-out;
    overflow: scroll;
}

.verticalSelect__header{
    width: 100%;
    height: 56px;
    padding-top: 14px;
    padding-left: 20px;
    background-color: #BBDEFB;
    color: #212121;
    font-weight: bold;
    font-size: 19px;
}

.verticalSelect__selectList {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}

.verticalSelect__select {
    display: block;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    font-size: 16px;
    background-color: #ffffff;
}

.verticalSelect__select--isActive {
    font-weight: bold;
}

.verticalSelect--isOffScreen {
    -moz-transform: translate(250%);
    -ms-transform: translate(250%);
    -o-transform: translate(250%);
    -webkit-transform: translate(250%);
    transform: translate(250%);
}

.verticalSelect:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0.19), 0 6px 6px rgba(0, 0, 0.23);
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.verticalSelect__select:hover {
    background-color: #B6B6B6;
}

.verticalSelect__label{
    font-size: 16px;
    color: #212121;
}