.lineGraph{
    width: 100%;
    height: 90%;
    min-height: 500px;
    margin-top: 40px;
    padding-bottom: 40px;
}

path {
	stroke: steelblue;
	stroke-width: 1;
	fill: none;
}
			
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*.x.axis line {
	stroke: lightgrey;
}

.x.axis .minor {
	stroke-opacity: .5;
}

.y.axis line {
	stroke: lightgrey;
}

.x.axis .minor {
	stroke-opacity: .5;
}*/


/*.x.axis path {
	display: none;
}

.y.axis line, .y.axis path {
	fill: none;
	stroke: #000;
}*/