@if (User.IsInRole("System Administrator"))
{
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Reset Password Confirmation</title>
    </head>
    <body>
        <h3>Success!</h3>
        <h5>The user's password has been updated.</h5>
    </body>
</html>

}