
@{
    ViewBag.Title = "ConfirmUpdateUser";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<h1>@ViewBag.Title</h1>
    @Html.ValidationSummary("", new { @class = "text-danger" })
<h5>An error occured if you're seeing this page.</h5>
</body>
</html>
