@model UAHFitVault.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <table>
        <tr>
            <td>Password:</td>
            <td>
            [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
            ]
            </td>
        </tr>
        <tr>
            <td>Birthday:</td>
            <td><!-- Birthday selection fields --></td>
        </tr>
        <tr>
            <td>Sex:</td>
            <td><!-- Dropdown for sex change --></td>
        </tr>
        <tr>
            <td>Weight:</td>
            <td><!-- Text field for weight change --></td>
        </tr>
        <tr>
            <td>Height:</td>
            <td><!-- Dropdown for updating email --></td>
        </tr>
        <tr>
            <td>Location:</td>
            <td><!-- Text field for updating location --></td>
        </tr>
    </table>
</div>
